<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ _("Darakht-e Danesh Academi") }}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"
                integrity="bf1809e3c17d86667dd0b9e10bd809cbe7bb76979486c23b06eec1504bf3be19"
                crossorigin="anonymous">
        </script>
    </head>

    <body dir="{% if g.locale == 'en' %}ltr{% else %}rtl{% endif %}">
        <header class="md:hidden block flex justify-center items-center bg-duron-mindful-gray py-2 text-center mb-8">
            <div class="flex-1"></div>
            <span class="inline-block font-sans text-xl"><a href="#">{{ _("Darakht-e Danesh Academi") }}</a></span>
            <div class="text-end inline-block flex-1">
                <button id="dropdownMobileLanguage" data-dropdown-toggle="dropdown1" class="text-white bg-shade-of-brown hover:bg-different-shade-of-brown rounded-lg px-1 py-1 me-2" type="button"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"></path></svg></button>
            </div>
            <!-- Dropdown menu -->
            <div id="dropdown1" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
                  <li class="{% if g.locale == 'en' %}hidden{% endif %}">
                    <a href="{{ url_for('ddlanding', lang='en') }}" class="block py-2 px-4 hover:bg-very-light-shade-of-orange">English</a>
                  </li>
                  <li class="{% if g.locale == 'fa' %}hidden{% endif %}">
                    <a href="{{ url_for('ddlanding', lang='fa') }}" class="block py-2 px-4 hover:bg-very-light-shade-of-orange">فارسی</a>
                  </li>
                  <li class="{% if g.locale == 'ps' %}hidden{% endif %}">
                    <a href="{{ url_for('ddlanding', lang='ps') }}" class="block py-2 px-4 hover:bg-very-light-shade-of-orange">پښتو</a>
                  </li>
                </ul>
            </div>
        </header>
        <main class="md:hidden bg-academi-tree h-screen bg-no-repeat bg-top bg-contain">
            <div class="text-center"><button class="rounded-lg w-[75%] mb-4 p-2 bg-different-shade-of-red hover:bg-shade-of-orange hover:scale-125 transition duration-500 text-white" onclick="location.href='https://library.darakhtdanesh.org/{{ potential_query_string }}'" type="button">{{ _("DD Library") }}</button></div>
            <div class="text-center"><button class="rounded-lg w-[75%] mb-4 p-2 bg-different-shade-of-red hover:bg-shade-of-orange hover:scale-125 transition duration-500 text-white" onclick="location.href='https://courses.darakhtdanesh.org'" type="button">{{ _("DD Courses") }}</button></div>
            <div class="text-center"><button class="rounded-lg w-[75%] mb-4 p-2 bg-different-shade-of-red hover:bg-shade-of-orange hover:scale-125 transition duration-500 text-white" onclick="location.href='https://courses.darakhtdanesh.org/course/index.php?categoryid=7'" type="button">{{ _("DD Classroom") }}</button></div>
            <div class="bg-academi-tree bg-gradient-to-br"></div>
        </main>
        <footer class="md:hidden">
            <div class="-mt-16 border-t-2 text-center border-duron-mindful-gray bg-very-light-shade-of-orange">
                <div class="mt-1 mb-1">
                    <a href="https://cw4wafghan.ca" target="_blank">
                        <img class="h-14 w-48 inline me-2" src="{{url_for('static',filename='media/cw4wafghan-logo.png')}}" alt="CW4WAfghan logo">
                    </a>
                </div>
            </div>
        </footer>
        <div class="hidden md:flex flex-col 2xl:h-screen">
            <div class="text-end">
                <button id="dropdownDesktopLanguage" data-dropdown-toggle="dropdown" class="text-white bg-shade-of-brown hover:bg-different-shade-of-brown font-medium rounded-lg text-sm justify-center px-2 py-2.5 mt-4 me-2 text-center inline-flex items-center" type="button">{% if g.locale == 'en' %}English{% elif g.locale == 'fa' %}فارسی{% else %}پښتو{% endif %} <svg class="ms-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
            </div>
            <!-- Dropdown menu -->
            <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
                  <li class="{% if g.locale == 'en' %}hidden{% endif %}">
                    <a href="{{ url_for('ddlanding', lang='en') }}" class="block py-2 px-4 hover:bg-very-light-shade-of-orange">English</a>
                  </li>
                  <li class="{% if g.locale == 'fa' %}hidden{% endif %}">
                    <a href="{{ url_for('ddlanding', lang='fa') }}" class="block py-2 px-4 hover:bg-very-light-shade-of-orange">فارسی</a>
                  </li>
                  <li class="{% if g.locale == 'ps' %}hidden{% endif %}">
                    <a href="{{ url_for('ddlanding', lang='ps') }}" class="block py-2 px-4 hover:bg-very-light-shade-of-orange">پښتو</a>
                  </li>
                </ul>
            </div>
            <main class="relative h-[800px] mt-[15px] 2xl:mt-[75px] text-center">
                <img class="w-[388px] h-auto inline z-0" src="{{url_for('static',filename='media/circle.png')}}" alt="DDLanding - circle">
                <button class="w-[78px] h-[78px] rounded-full bg-shade-of-red hover:bg-shade-of-orange hover:scale-150 transition duration-500 text-white text-sm absolute h-auto mx-auto ltr:left-0 ltr:right-[230px] rtl:right-0 rtl:left-[230px] z-30 mt-[150px]" onclick="location.href='https://library.darakhtdanesh.org/{{ potential_query_string }}'" type="button">{{ _("DD Library") }}</button>
                <button class="w-[78px] h-[78px] rounded-full bg-shade-of-red hover:bg-shade-of-orange hover:scale-150 transition duration-500 text-white text-sm absolute h-auto mx-auto left-0 right-0 z-30 mt-[100px]" onclick="location.href='https://courses.darakhtdanesh.org'" type="button">{{ _("DD Courses") }}</button>
                <button class="w-[78px] h-[78px] rounded-full bg-shade-of-red hover:bg-shade-of-orange hover:scale-150 transition duration-500 text-white text-sm absolute h-auto mx-auto ltr:right-0 ltr:left-[230px] rtl:left-0 rtl:right-[230px] z-30 mt-[150px]" onclick="location.href='https://courses.darakhtdanesh.org/course/index.php?categoryid=7'" type="button">{{ _("DD Classroom") }}</button>
                <img class="w-[360px] h-auto mt-[100px] inline absolute mx-auto left-0 right-0 z-10" src="{{url_for('static',filename='media/ddl-logo-tree.png')}}" alt="DDLanding - tree">
            </main>

            <footer>
                <img class="inline" src="{{url_for('static',filename='media/bg.png')}}" alt="Background image" style="min-height: 250px;">
                <div class="-mt-16 border-t-2 text-center border-duron-mindful-gray">
                    <div class="mt-1 mb-1 divide-s-2 divide-duron-mindful-gray">
                        <a href="https://cw4wafghan.ca" target="_blank">
                            <img class="h-14 w-48 inline me-2" src="{{url_for('static',filename='media/cw4wafghan-logo.png')}}" alt="CW4WAfghan logo">
                        </a>
                        <div class="inline-block bottom-0">
                            <span class="ms-2 font-sans text-xl"><a href="#">{{ _("Darakht-e Danesh Academi") }}</a></span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>

</html>