         <footer class="md:hidden mt-auto">
            <div class="-mt-16 border-t-2 text-center border-duron-mindful-gray bg-very-light-shade-of-orange">
                <div class="mt-1 mb-1">
                    <a href="https://cw4wafghan.ca" target="_blank">
                        <img class="h-14 w-48 inline me-2" src="{{url_for('static',filename='media/cw4wafghan-logo.png')}}" alt="CW4WAfghan logo">
                    </a>
                </div>
            </div>
        </footer>
         <div class="hidden md:flex flex-col 2xl:h-fit mt-auto">
             <footer class="">
                <img class="" src="{{url_for('static',filename='media/bg.png')}}" alt="Background image" style="min-height: 250px;">
                <div class="-mt-16 border-t-2 text-center border-duron-mindful-gray">
                    <div class="mt-1 mb-1 divide-s-2 divide-duron-mindful-gray">
                        <a href="https://cw4wafghan.ca" target="_blank">
                            <img class="h-14 w-48 inline me-2" src="{{url_for('static',filename='media/cw4wafghan-logo.png')}}" alt="CW4WAfghan logo">
                        </a>
                        <div class="inline-block bottom-0">
                            <span class="ms-2 font-sans text-xl"><a href="#">{{ _("Darakht-e Danesh Academi") }}</a></span>
                        </div>
                    </div>
                </div>
            </footer>
         </div>
     </body>
</html>