<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Darakht-e Danesh Academi</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
<div class="flex flex-col h-screen justify-between">

    <main class="h-[550px] mt-[5%] text-center">
        <img class="w-[20%] h-auto inline z-0" src="{{url_for('static',filename='media/circle.png')}}" alt="DDLanding - circle">
        <button class=" w-72 h-72 rounded-full bg-shade-of-red hover:bg-red-500 text-white font-bold absolute h-auto mx-auto z-30 mt-32 -translate-x-6">Button</button>
        <img class="w-[19.4%] h-auto mt-[6%] inline absolute mx-auto left-0 right-0 z-10" src="{{url_for('static',filename='media/ddl-logo-tree.png')}}" alt="DDLanding - tree">

    </main>

    <footer class="relative">
        <img class="w-full" src="{{url_for('static',filename='media/bg.png')}}" alt="Background image">
        <div class="absolute bottom-0 w-full h-20 border-t-2 text-center border-duron-mindful-gray bg-transparent">
            <div class="mt-3 divide-x-2 divide-duron-mindful-gray">
                <a href="https://cw4wafghan.ca" target="_blank">
                    <img class="h-14 w-48 inline mr-2" src="{{url_for('static',filename='media/cw4wafghan-logo.png')}}" alt="CW4WAfghan logo">
                </a>
                <div class="inline-block">
                    <span class="ml-2 font-sans text-xl"><a href="https://cw4wafghan.ca" target="_blank">cw4wafghan.ca</a></span>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>

</html>